500px-api.xml


<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:apigee="http://api.apigee.com/wadl/2010/07/" 
	xmlns="http://wadl.dev.java.net/2009/02"
	xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

	<!-- Base defines the domain and base path of the endpoint -->
	<resources base="https://api.500px.com/v1">

		<resource path="photos">
			<param name="feature" default="fresh_today" required="true">
				<doc>
					Photo stream.
				</doc>
				<option value="popular"/>
				<option value="upcoming"/>
				<option value="editors"/>
				<option value="fresh_today"/>
				<option value="fresh_yesterday"/>
				<option value="fresh_week"/>
				<option value="user" />
				<option value="user_friends" />
				<option value="user_favorites" />
			</param>

			<param name="user_id" type="xsd:string">
				<doc>User ID 'user' Photo streeam</doc>
			</param>

			<param name="username" type="xsd:string">
				<doc>OR username for 'user' Photo streeam</doc>
			</param>

			<param name="only" type="xsd:string">
				<doc>String name of the category to return photos from</doc>
			</param>

			<param name="exclude" type="xsd:string">
				<doc>String name of the category to exclude photos by.</doc>
			</param>

			<param name="sort" type="xsd:string">
				<doc>
					Sort photos in the specified order.
				</doc>
				<option value="created_at"/>
				<option value="rating"/>
				<option value="times_viewed"/>
				<option value="votes_count"/>
				<option value="favorites_count"/>
				<option value="comments_count"/>
				<option value="taken_at" />
			</param>
			
			<param name="page" type="xsd:string">
				<doc>Return a specific page in the photo stream. Page numbering is 1-based.</doc>
			</param>

			<param name="rpp" type="xsd:string">
				<doc>The number of results to return. Can not be over 100, default 20.</doc>
			</param>

			<param name="image_size" default="3">
				<doc>
					The photo size to be returned.
				</doc>
				<option value="1"/>
				<option value="2"/>
				<option value="3"/>
				<option value="4"/>
			</param>

			<param name="include_store">
				<doc>
					Returns market infomation about the photo.
				</doc>
				<option value="store_download"/>
				<option value="store_print"/>
			</param>
			
			<param name="include_states">
				<doc>
					Returns state of the photo for the currently logged in user and authenticated request.
				</doc>
				<option value="voted"/>
				<option value="favorited"/>
				<option value="purchased"/>
			</param>

			<param name="tags" type="xsd:string" style="query">
				<doc>Returns an array of tags for the photo.</doc>
			</param>


			<method id="get_photos" name="GET" apigee:displayName="GET photos">
				<apigee:tags>
					<apigee:tag primary="true">Photos</apigee:tag>
					<apigee:tag>Show</apigee:tag>
				</apigee:tags>
			
				<apigee:authentication required="true" />
				<apigee:example url="/photos" />

				<doc title="GET Photos" apigee:url="photos">
					Retrieves list of photos
				</doc>
			</method>
		</resource>

		<resource path="photos/search">
			<param name="term" type="xsd:string">
				<doc>A keyword to search for.</doc>
			</param>

			<param name="tag" type="xsd:string">
				<doc>A complete tag string to search for.</doc>
			</param>

			<param name="page" type="xsd:integer">
				<doc>Return a specific page. Page numbering is 1-based.</doc>
			</param>

			<param name="rpp" type="xsd:integer">
				<doc>The number of results to return. Can not be over 100, default 20.</doc>
			</param>
			
			<param name="tags" type="xsd:string">
				<doc>Returns an array of tags for each photo.</doc>
			</param>
			
			<method id="get_photos_search" name="GET" apigee:displayName="GET photos/search">
				<apigee:tags>
					<apigee:tag primary="true">Photos</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />
				<doc apigee:url="https://api.500px.com/v1/photos/search">
					Returns a listing of twenty (up to one hundred) photos from search results for a specified tag or keyword.
				</doc>
			</method>
		</resource>



		<resource path="photos/{id}">
			<param name="image_size" default="3">
				<doc>
					The photo size to be returned.
				</doc>
				<option value="1"/>
				<option value="2"/>
				<option value="3"/>
				<option value="4"/>
			</param>

			<param name="comments">
				<doc>Return comments to the photo in the response. Comments are returned in order of creation, 20 entries per page.</doc>
				<option value="1"/>
				<option value="2"/>
			</param>

			<param name="comments_page" type="xsd:integer">
				<doc>Return the specified page from the comments listing. Page numbers are 1-based.</doc>
			</param>

			<param name="tags" type="xsd:string">
				<doc>Returns an array of tags for the photo.</doc>
			</param>

			<method id="get_photos_id" name="GET" apigee:displayName="GET photos/:id">
				<apigee:tags>
					<apigee:tag primary="true">Photos</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />

				<doc apigee:url="https://api.500px.com/v1/photos">
					Returns detailed information of a single photo.
				</doc>
			</method>
		</resource>





		<resource path="photos/{id}/comments">
			<param name="page" type="xsd:integer">
				<doc>Return a specific page in the comment listing. Page numbering is 1-based.</doc>
			</param>

			<method id="get_photos_id_comments" name="GET" apigee:displayName="GET photos/:id/comments">
				<apigee:tags>
					<apigee:tag primary="true">Photos</apigee:tag>
				</apigee:tags>
				<apigee:authentication required="true" />

				<doc apigee:url="https://api.500px.com/v1/photos/{id}/comments">
					Returns a listing of twenty comments for the photo.
				</doc>
			</method>
		</resource>



		<resource path="photos/{id}/favorite">

			<param name="page" type="xsd:integer">
				<doc>Return a specific page in the comment listing. Page numbering is 1-based.</doc>
			</param>

			<param name="rpp" type="xsd:integer">
				<doc>The number of results to return. Can not be over 100, default 20.</doc>
			</param>

			<method id="get_photos_id_favorite" name="GET" apigee:displayName="GET photos/:id/favorite">
				
				<apigee:tags>
					<apigee:tag primary="true">Photos</apigee:tag>
					<apigee:tag>Photos</apigee:tag>
				</apigee:tags>

				<apigee:authentication required="true" />
				<apigee:example url="/photos/{id}/favorite" />

				<doc apigee:url="https://api.500px.com/v1/photos/{id}/favorite">
					Deletes the photo from User's favorite list.
				</doc>
			</method>
		</resource>

		<resource path="photos/{id}/votes">

			<param name="page" type="xsd:integer">
				<doc>Return a specific page in the comment listing. Page numbering is 1-based.</doc>
			</param>
			
			<param name="rpp" type="xsd:integer">
				<doc>The number of results to return. Can not be over 100, default 20.</doc>
			</param>

			<method id="get_photos_id_votes" name="GET" apigee:displayName="GET photos/:id/votes">
				
				<apigee:tags>
					<apigee:tag primary="true">Photos</apigee:tag>
					<apigee:tag>Photos</apigee:tag>
				</apigee:tags>

				<apigee:authentication required="true" />
				<apigee:example url="/photos/{id}/votes" />

				<doc apigee:url="https://api.500px.com/v1/photos/{id}/votes">
					Deletes the photo from User's favorite list.
				</doc>
			</method>
		</resource>


		<resource path="photos/{id}">

			<param name="id" type="xsd:integer">
				<doc>The Photo ID to update. Can be provided either as photos/:id or in the query string.</doc>
			</param>

			<param name="name" type="xsd:string">
				<doc>Title for the photo.</doc>
			</param>

			<param name="description" type="xsd:string">
				<doc> The description of the photo.</doc>
			</param>

			<method id="put_photos_id" name="PUT" apigee:displayName="PUT photos/:id">
				
				<apigee:tags>
					<apigee:tag primary="true">Photos</apigee:tag>
					<apigee:tag>Photos</apigee:tag>
				</apigee:tags>

				<apigee:authentication required="true" />
				<apigee:example url="/photos/{id}" />

				<doc apigee:url="https://api.500px.com/v1/photos/{id}">
					Updates a photo.
				</doc>
			</method>
		</resource>


		<resource path="photos">

			<param name="name" type="xsd:string">
				<doc>Title for the photo.</doc>
			</param>

			<param name="description" type="xsd:string">
				<doc>The description of the photo.</doc>
			</param>

			<param name="category" type="xsd:integer">
				<doc>A numerical ID for the Category of the photo</doc>
			</param>

			<!-- Photo technical details -->
			<param name="shutter_speed" type="xsd:string">
				<doc>Shutter speed in seconds, represented by string containing a rational expression if the value is 1sec.</doc>
			</param>

			<param name="focal_length" type="xsd:string">
				<doc>Focal length in millimetres, a string representing an integer value</doc>
			</param>

			<param name="aperture" type="xsd:string">
				<doc>Aperture value</doc>
			</param>

			<param name="iso" type="xsd:string">
				<doc>ISO value</doc>
			</param>

			<param name="camera" type="xsd:string">
				<doc>Make and model of the camera. Note: Please make sure it contains sensible information (eg., does not contain camera's make or model twice)</doc>
			</param>

			<param name="lens" type="xsd:string">
				<doc>Lens used to make this photo</doc>
			</param>

			<!-- Geographical information of the photo: -->
			<param name="latitude" type="xsd:string">
				<doc>Latitude, in decimal format</doc>
			</param>

			<param name="longitude" type="xsd:string">
				<doc>Longitude, in decimal format</doc>
			</param>

			<!-- Geographical information of the photo: -->
			<param name="privacy" type="xsd:integer">
				<doc> Whether to hide the photo from the user profile on the website. Otherwise, the photo is only available for use in Collections/Portfolio. Recognized values: 1, 0.</doc>
			</param>

			<method id="post_photos" name="POST" apigee:displayName="POST photos">
				
				<apigee:tags>
					<apigee:tag primary="true">Photos</apigee:tag>
					<apigee:tag>Photos</apigee:tag>
				</apigee:tags>

				<apigee:authentication required="true" />
				<apigee:example url="/photos" />

				<doc apigee:url="https://api.500px.com/v1/photos">
					Create a new photo on behalf of the user, and receive an upload key in exchange.
				</doc>
			</method>
		</resource>







































		<resource path="photos/{id}/tags">
			<method id="delete_photos_id_tags" name="DELETE" apigee:displayName="DELETE photos/:id/tags">
				
				<apigee:tags>
					<apigee:tag primary="true">Photos</apigee:tag>
				</apigee:tags>

				<apigee:authentication required="true" />
				<apigee:example url="/photos/{id}/tags" />

			<doc title="" apigee:url="https://api.500px.com/v1/photos/{id}/tags">
				Deletes one or multiple comma-separated tags from the photo.
			</doc>
			</method>
		</resource>






		<!-- BLOG -->
		<resource path="blogs/{id}/comments">
			<method id="post_blogs_id_comments" name="POST" apigee:displayName="POST blogs/:id/comments">
				
				<apigee:tags>
					<apigee:tag primary="true">Blogs</apigee:tag>
				</apigee:tags>

				<apigee:authentication required="true" />
				<apigee:example url="/blogs/{id}/comments" />

			<doc title="" apigee:url="https://api.500px.com/v1/blogs/{id}/comments">
				Creates a comment for the Story.
			</doc>
			</method>
		</resource>


	 
	</resources>
</application>
